@RenderBody()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StangeCastle</title>
    <script type="importmap"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#projetos">Projetos</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="pindomara.html">Pindomara_Server</a></li>
            <li><a href="mythosrpg.html">Mythos_RPG</a></li>
        </ul>
    </nav>

    <nav id = "contato" class = "contato">
        <ul>
        <li>arturstangefelix64@gmail.com</li>
        <li><a href="https://github.com/ArturStange">Github</a></li>
        <li><a href="https://www.linkedin.com/in/artur-stange-9b3501364/">Linkedin</a></li>
        <li>telefone: (61)98192-5124</li>
        </ul>
    </nav>

    <footer>
        <p style="font-size: 2vw;">© 2025 StangeCastle.inc</p>
    </footer>
</body>
</html>
