@{
    ViewData["Title"] = "Portifólio";
}

<div>
    <img src = "/img/StangeCastle.png" class="img-logo glow" alt="img-logo">
</div>

<header>
        <h1 class="glow">Portfólio</h1>
        <p class="fade-in">Desenvolvedor de Software, Engenheiro de Pesquisa e Segurança em IA, Escritor e Desenvolvedor de Jogos!</p>
    </header>

    <section  id="Sobremim" class="section.big">
        <div class="card slide-up";>
            <center>
            <h4 class="glow-small">Capacitado em:</h4>
            <p style="font-family: Pixelify Sans, sans-serif; font-size: 2.5vw;" >
                Python, Java, C#, PHP, JavaScript, HTML/CSS, SQL, Estrutura de Redes e Treinamento e Pesquisa em LLM/SLM em Segurança.
            </p>
            </center>
        </div>
    </section>

    </div>
    <section id="projetos" class="section">
        
        <div class="card float">
            <h2 class="glow-small">Certificações Google</h2>
            <p>
                Possuo certificações em GoogleCloud e GoogleIA. Garatindo conhecimento em aplicações nuvem e integrações com uso de IA.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

    <div class="card float">
            <h2 class="glow-small">RAGs e Segurança de LLM e SLM</h2>
            <p>
                Projeto de Iniciação Cientifica baseado no uso de SLM's e RAGs para proteção de dados e prompt injections, com grande foco no treinamento e otimização de recursos para independência cibernética.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Java e IA</h2>
            <p>
                Projeto feito em oficina que ultiliza a linguagem Java para a vetorização de dados para leitura de banco de dados para IA.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Aplicações em C#</h2>
            <p>
                Ultilização de C# como backend utilizando MVC (como o próprio site que você está interagindo agora), imcoporando banco de dados, segurança e conexão de redes a área web.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Aplicação SQL Completa</h2>
            <p>
                Utilização de todos os métodos de construção de banco de dados complexo em SQL, representando um sistema de companhia de viagens.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Criação de Jogos em GODOT</h2>
            <p>
                Utilização de C# para Criação de Jogos estilo retro dark fantasy baseado no meu sistema de rpg de mesa.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Mythos</h2>
            <p>
                Um sistema completo de ttrpg (table top role playing game) de autoria própria com inspirações em jogos dark fantasy e grim dark.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>
    </section>

    <section id="sobre" class="section.big">
        <div class="card slide-up">
            <h2 class="glow-small">Sobre mim</h2>
            <p style="font-family: Pixelify Sans, sans-serif; font-size: 2.5vw;">
                Sou um jovem que me interesso por muitas áreas, mas vejo no ramo da tecnologia e desenvolvimetno o maior interesse de todos,
                 seja no simples desenvolvimento de sites e webaplications, seja no complexo ramo de LLM e aplicações 
                 inteligentes, a área de TI é uma porta tanto para o conhecimento quanto para a imaginção. Este site foi criado justamente com 
                 o intuito de expressar essa paixão e interesse para o mundo. Espero que goste!

            </p>
        </div>
    </section>
    <br>
    <br>