@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src = "/img/StangeCastle.png" class="img-logo glow" alt="img-logo">
</div>

<header>
        <h1 class="glow">Portfólio</h1>
        <p class="fade-in">Desenvolvedor de Software, escritor de rpg e muito mais!!!</p>
    </header>

    <section  id="Sobremim" class="section.big">
        <div class="card slide-up";>
            <center>
            <h4 class="glow-small">Capacitado em:</h4>
            <p style="font-family: Pixelify Sans, sans-serif; font-size: 2.5vw;" >
                Python, Java, C#, PHP, JavaScript, HTML/CSS, PostgreSQL.
            </p>
            </center>
        </div>
    </section>

    </div>
    <section id="projetos" class="section">
        
        <div class="card float">
            <h2 class="glow-small">Certificações Google</h2>
            <p>
                Possuo certificações em GoogleCloud e GoogleIA. Garatindo conhecimento em aplicações nuvem e integrações com uso de IA.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Java e IA</h2>
            <p>
                Projeto feito em oficina que ultiliza a linguagem Java para a vetorização de dados para leitura de banco de dados para IA.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Aplicação em BlazorApp</h2>
            <p>
                Ultilização de C#, com framework BlazorApp.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Aplicação SQL Completa</h2>
            <p>
                Utilização de todos os métodos de construção de banco de dados complexo em SQL.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Criação de Jogos em GODOT</h2>
            <p>
                Utilização de C# para Criação de Jogos
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>

        <div class="card float">
            <h2 class="glow-small">Mythos</h2>
            <p>
                Um sistema completo de ttrpg (table top role playing game) de autoria própria com inspirações em jogos dark fantasy e grim dark.
            </p>
            <a href="#" class="btn pulse">Ver Projeto</a>
        </div>
    </section>

    <section id="sobre" class="section.big">
        <div class="card slide-up">
            <h2 class="glow-small">Sobre mim</h2>
            <p style="font-family: Pixelify Sans, sans-serif; font-size: 2.5vw;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Reprehenderit expedita asperiores et eligendi, 
                magnam deserunt impedit illo repellendus omnis 
                ipsam doloribus laborum temporibus, sit pariatur ut magni aut! 
                sQuas, qui?
            </p>
        </div>
    </section>
    <br>
    <br>